##### [< Forrige](1%20-%20intro.ipynb)     |     [Neste >](2%20-%20funksjoner.ipynb)

# 1 - Variabler

Variablene i Python kan være ulike objekter som i alle andre programmeringsspråk, og typen objekt defineres av hva du setter variabelen til. Det er vanlig å definere stort sett alle variabler med små bokstaver i Python. Kun unntaksvis brukes store bokstaver.

Du kan ikke bruke mellomrom i variabelnavn. Det vil oppfattes som flere ulike navn. For eksempel er `number_of_apples`  tillatt men ikke "number of apples". Vi bruker også kun engelske bokstaver, selv om norske fungerer. `aintail_æpla` kan altså brukes, men anbefales ikke.

##  `bool` (Sann/Usann)

Den enkleste variabelen i Python er den binære typen "bool". Den kan ta to verdier, `True` eller `False` (sant eller usant). Denne variabelen brukes mest i sammenhenger der vi skal teste om et vilkår er oppfylt eller ikke. Da bruker vi `if`-setninger, som vi skal komme tilbake til.

Vi kan sjekke hvilken type en variabel er med funksjonen type(). Under får vi bekreftet `apple_is_tasty` er en boolsk variabel.

#### Eksempel 1:

In [ ]:
#bool
apple_is_tasty=True
type(apple_is_tasty)

Legg merke til hva som skjer her: Første linje er bare en kommentar, som nevnt i forrige kapittel. I andre linjer *setter* vi variabelen `apple_is_tasty` lik verdien `True`. Det er på denne måten vi definerer variabler i Python. Når vi har satt en variable på denne måten, bestemmer det hvilken `type` variabel det er. 

Det er ikke alltid at variabelen settes rett før vi skal bruke den. Er det et stort program kan variabelen ha vært satt på en helt annen plass i programmet. I så fall er det nyttig å vise hvilken type variabel `apple_is_tasty` representerer. Siden den er satt til verdien `True` (sant), er det en `bool`. 

Når vi kjører et kodefelt i Jupyter, får vi resultatet av den siste setningen skrevet ut til skjermen, etter kodefeltet. Om du har kjørt koden, vil du se at det står `bool`der. Det er fordi funksjonen `type()` står i siste linej, og den returnerer hvilken type `apple_is_tasty` er.

## `int` (heltall)

int representerer hele tall i Python. Under ser vi at Python tolker  8 som et heltall:

#### Eksempel 2:

In [ ]:
# integer:
number_of_apples = 8
type(number_of_apples)

Vi kan konvertere int til bool og bool til int ved å bruke disse som funksjoner slik som dette:

#### Eksempel 3:

In [ ]:
int(apple_is_tasty)

In [ ]:
bool(0)

Vi legger merke til her at 1 tilsvarer `True` og 0 tilsvarer `False`.

## `float` (desimaltall)

Regning gjøres vanligvis med desimaltall, eller "floating point" som det kalles av på fagspråket.  I python heter derfor denne variabeltypen  `float`.

Om for eksempel 11 skal tolkes som et heltall, gir vi beskjed til Python om at det er et desimaltall ved å skrive det med én desimal. Alle programmeringsspråk, inkludert Python, bruker punktum som desimaltegn. 

#### Eksempel 4:

In [ ]:
# floating point (float):
apple_price = 11.0
type(apple_price)

Navnet "floating point", eller flyttall på norsk, kommer av at alle flyttall har eksakt like mange siffer, men desimaltegnet kan flyttes slik at `float` kan representere et svært stort spenn av verdier. Det største flyttallet er én med 308 nuller etter. Desimaltegnet flyttes enkelt fordi at `float` egentlig er på vitenskapelig format, selv om det ofte vises som vanlig tall. For eksempel så kan vi skrive tallet 102 på vitenskapelig form, men Python spytter det ut på et format vi enklere kan forstå

#### Eksempel 5:

In [ ]:
insane_apple_price = 1.02e+2
print(insane_apple_price)

Vitenskapelig form `1.02e+2` betyr altså $1.02\cdot 10^{2}=102$. På samme måte er 0.0102 egentlig `1.02e-2` eller altså $1.02\cdot 10^{-2}=102$.

Legg også merke til at funksjonen `print()`er brukt her. Det er ofte bedre å printe eksplisitt med printfunksjonen. Dersom det du ønsker å se ikke står sist i koden er det også nødvendig å bruke `print()`. 

Her er et eksemple med et lite flyttall:

#### Eksempel 6:

In [ ]:
really_cheap_apple_price = 1.02e-2
print(really_cheap_apple_price)

Når vi skriver ut resultatet får vi det altså ut som `102.0` eller `0.0102` i stedet for det vitenskapelige flyttallformatet. Det er fordi Python skjønner at `1.02e+2` og  `1.02e-2` ikke ser så pent ut for oss. Python formaterer derfor tallet til et mer lesbart format før det skrives ut.

Det er enkelt å regne med både `float` og  `int`:

#### Eksempel 7:

In [ ]:
total = apple_price*number_of_apples
print(total)

Heldigvis spiller det liten rolle om noe er `int` eller `float` når du skal regne. I de fleste andre programmeringsspråk får du et nytt heltall når du deleret heltall på et annet. I Python gir dette et desimaltall:


#### Eksempel 8:

In [ ]:
number_of_persons = 5
apple_per_person  = number_of_apples/number_of_persons
print(apple_per_person)

## Regning med `float`

For de fire regneartene fungerer `float` slik vi har lært på barneskolen:

#### Eksempel 9:

In [ ]:
print(2+3)
print(2-3)
print(2*3)
print(2/3)

Ofte har vi imidlertid bruk for å opphøye et tall i et annet. Om vi for eksempel vil vite hva $2\cdot2\cdot2$ er, så kan vi istedet skrive $2^3$. Dette kalles en *potens* med 2 som *grunntall* og 3 som *eksponent*. I python utføres denne operasjonen med gange-tegn `**`. Dette er ulikt endel andre programmeringsspråk, der *cirkumfleks*-symbolet `^` ofte brukes. 

Slik regner du med potens i Python:

#### Eksempel 10:

In [ ]:
2**3

## `str` (tekst)

Tekst kalles "streng" på dataspråket, eller "string" på engelsk. Typen som representerer tekst heter derfor `str`. Vi forteller Python at dette er en tekst ved å sette anførselstegn rundt. Her er et eksempel på en streng:

#### Eksempel 11:

In [ ]:
# string:
x="Dette er en streng (dvs tekst)"
type(x)

Det er enkelt å sette sammen `string` og andre variabler i Python. Det er flere måter å gjøre det på, men vi skal bruke en metode som er ganske ny i Python. Fra og med versjon 3.6 kom noe som kalles "f-strings" som gir oss en veldig enkel måte å blandet tekst og andre variabler. Her er et eksempel:

#### Eksempel 12:

In [ ]:
print(f"Det er {apple_is_tasty} at jeg synes epler smaker godt.")

Legg merke til f'en før det første anførselstegnet. Den angir at dette er en f-streng og at alt som er inne i klammeparenteser {} skal omformateres til `string` og tas med i teksten. 

Et alternativ er å bruke `+`-tegnet. Det går nemlig an å summere tekst i Python:

#### Eksempel 13:

In [ ]:
"Jeg "+"gikk "+"derfor "+"på "+"butikken "+"for "+"å "+"kjøpe"

Men det går ikke an å summere tekst og andre variabler, da skjønner ikke Python hva du ønsker å oppnå

#### Eksempel 14:

In [ ]:
"Jeg gikk derfor på butikken for å kjøpe " + number_of_apples + " epler. "

Du må i så fall omformatere tallet `number_of_apples` til streng:

#### Eksempel 15:

In [ ]:
"Jeg gikk derfor på butikken for å kjøpe " + str(number_of_apples) + " epler."

Derfor er det langt enklere å bruke f-strings. Dersom tekststrengen er for lang for én linje, kan du sette flere tekstrenger etter hverandre på hver sin linje, slik som dette:

#### Eksempel 16:

In [ ]:
print(
    f"Det er {apple_is_tasty} at jeg synes epler smaker godt. \n"
    f"Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler. \n"
    f"Kjøpmannen gav meg en vanvittig pris. Han skulle ha {insane_apple_price} kroner per eple. \n"
    f"Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner. \n"
    f"Hun avslo, men vi ble til sist dd om {apple_price} kroner.\n"
    f"Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem. \n\n"
    f"På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem. \n"
    f"Det ble {number_of_apples/number_of_persons} epler per person.\n"
)

Merk at setningene må stå inne i en parentes, for eksempel som argument i en funksjon som over, for at Python skal forstå at de skal settes sammen til én setning. Legg også merke til `\n`på slutten av hver delsetning. Denne indikerer at det skal være linjeskift etter hver delsetning.

## Anførselstegn for strenger

Det finnes tre forskjellige typer tegn for å markere at noe er tekst i Python. Disse er apostrof `'`, anførselstegn `"` og trippel anførselstegn `"""`. Rollen til de to første typene er å enkelt kunne bruke anførselstegn inne i teksten:

#### Eksempel 17:

In [ ]:
print( "Jeg gikk derfor på butikken for å 'kjøpe' epler.")
print( 'Jeg gikk derfor på butikken for å "kjøpe" epler.')

Trippel anførselstegn `"""` brukes når du vil ha tekst over flere linjer, for eksempel

#### Eksempel 18:

In [ ]:
s=f"""Det er {apple_is_tasty} at jeg synes epler smaker godt.
Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler.
Kjøpmannen gav meg en vanvittig pris. Han skulle ha {insane_apple_price} kroner per eple.
Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner.
Hun avslo, men vi ble til sist enige om {apple_price} kroner.
Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem.

På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem.
Det ble {number_of_apples/number_of_persons} epler per person."""
print(s)

Alternativt kan du sette hver setning på linje etterhverandre med egne enkel anførselstegn, som i Eksempel 18, men da må alle setningene befinne seg inne i en parentes.

# Oppgaver

#### Oppgave 1

Bruk koden i Eksempel 18, men fjern `\n` og se hva som skjer

In [ ]:
print(
    f"Det er {apple_is_tasty} at jeg synes epler smaker godt. "
    f"Jeg gikk derfor på butikken for å kjøpe {number_of_apples} epler. "
    f"Kjøpmannen gav meg en vanvittig pris. Han skulle ha {insane_apple_price} kroner per eple. "
    f"Jeg fortalte henne at det var helt uaktuelt, og foreslo {really_cheap_apple_price} kroner."
    f"Hun avslo, men vi ble til sist enige om {apple_price} kroner."
    f"Jeg betalte hennet til sammen {apple_price*number_of_apples} kroner og dro hjem. "
    f"På veien traff jeg {number_of_persons} venner. Jeg hadde ikke noe annet valg enn å dele eplene mine med dem. "
    f"Det ble {number_of_apples/number_of_persons} epler per person."
)

#### Oppgave 2
Lag variabler som du putter inn i en historie som i Eksempel 18

#### Oppgave 3
a) Hvilke variabler kan brukes sammen med multiplikasjonsoperatoren `*`? 

(multipliser sammen variabeltypene for å sjekke. For float skriver du for eksempel float(1))

b) Hvilke variabler kan brukes sammen med addisjonsoperatoren `+`?

c) Hvilke variabler kan brukes sammen med divisjonsoperatoren `/`?

e) Hvilke variabler kan brukes sammen med subtraksjonsoperatoren `-`?

#### Oppgave 4

a) Forsøk med prøving og feiling å finne det størst mulige `float`-tallet som ikke blir `inf`

b) Forsøk med prøving og feiling å finne `float`-tallet nærmest null som ikke blir `0.0`

#### Oppgave 5:

Forsøk å bruke samme anførselstegn inne i teksten som rundt teksten i Eksempel ??

#### Oppgave 6:

Hvilke to tegn må du legge til for at hele setningen skal printes?

##### [< Forrige](1%20-%20intro.ipynb)     |     [Neste >](2%20-%20funksjoner.ipynb)